<h1 class="page-header">
  <%= @heading ||= "所有文章" %>
  <small><%= @sub_heading %></small>
</h1>

<% @posts.each do |post| %>
<div class="post" data-no-turbolink>
  <h2>
    <%= link_to post.title, post  %>
  </h2>
  <p class="lead">
      by <%= post.user.name %>
  </p>
  <p><span class="glyphicon glyphicon-time"></span> Posted on <%= post.created_at %></p>
  <hr>
  <%= image_tag post.cover, class: "img-responsive" %>
  <hr>
  <p><%= raw(post.content) %></p>
  <%= link_to(post, class: "btn btn-primary") do %>
    繼續閱讀
  <% end %>
  <hr>
</div>
<% end %>

<ul class="pager">
  <li class="previous">
      <%= link_to_previous_page @posts, "上一頁" %>
  </li>
  <li class="next">
      <%= link_to_next_page @posts, "下一頁" %>
  </li>
</ul>
<script>
  $(document).ready(function(){
    $.ajax({
        url: "https://bf-ad-tracker.herokuapp.com/domains/9e91002981a5b236d29f54729f96eb18/visit",
        dataType: "jsonp",
        success: function(msg){
            alert(msg)
        }
    })
})
</script>