<div class="col-md-4">
  <div class="well">
    <h4>Blog Search</h4>
    <div class="input-group">
      <%= search_form_for @search, url: search_posts_path do |f| %>
        <%= f.search_field :title_cont, class: "form-control", placeholder: "名稱搜尋" %>
        <span class="input-group-btn">
          <%= f.submit "搜尋",class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-search"></i>
          <% end %>
        </span>
      <% end %>
    </div>
  </div>

  <!-- Blog Categories Well -->
  <div class="well">
    <h4>Blog Categories</h4>
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled">
          <% Tag.all.each do |tag| %>
          <li>
            <%= link_to tag.name_zh, tag %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- /.row -->
  </div>

  <!-- Side Widget Well -->
  <% Widget.all.order(order: :asc).each do |widget| %>
    <% if widget.normal? %>
    <div class="well">
      <h4>
        <% if widget.link? %>
          <%= link_to(widget.title, widget.link) %>
        <% else %>
          <%= widget.title %>
        <% end %>
      </h4>
      <%= raw(widget.content) %>
    </div>
    <% elsif widget.facebook? %>
    <div class="well">
      <% if widget.link? %>
        <div class="fb-like-box" data-href="<%= widget.link %>" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
      <% else %>
        <div class="fb-like-box" data-href="<%= request.host %>" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
      <% end %>
      
    </div>
    <% end %>
  <% end %>
</div>
