<!DOCTYPE html>
<html>
<head>
  <title>RailsBase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    
    <% if current_user %>
      <%= link_to "登出", sign_out_path  %>
      <%= current_user.email %>
    <% else %>
      <%= link_to "登入", new_user_session_path %>
      <%= link_to "註冊", new_user_registration_path %>
    <% end %>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

</body>
</html>
